@charset "utf-8";

.shadow-folha {
	position: relative;
}

.shadow-folha::after, .shadow-folha::before {
	position: absolute;
	left: 5px;
	top: 60%;
	bottom: 10px;
	width: 50%;
	background: #999;
	box-shadow: 0 15px 10px #999;
	transform: rotate(-2deg);
	content: "";
	z-index: -1;
}

	.shadow-folha::after {
		right: 5px;
		left: auto;
		transform: rotate(2deg);	
	} 
