.tabela {
     border: 1px solid green;
}
 
.cabecalho {
   text-align: center;
   font: 13px Arial, sans-serif;
   font-weight: bold;
   color: Snow;
   background: #008B45;
}

.colBandeira {
   text-align: left;
   font: 13px Arial, sans-serif;
   background: #BCEE68;
   padding: 3px;
   width: 120px;
}

.colDescricao {
   text-align: left;
   font: 13px Arial, sans-serif;
   background: #A2CD5A;
   padding: 3px;
   width: 150px;
}

.colNumero {
   font: 13px Arial, sans-serif;
   text-align: left;
   background: #BCEE68;
   padding: 3px;
   width: 100px;
}

.colLimite {
   text-align: right;
   font: 13px Arial, sans-serif;
   background: #A2CD5A;
   padding: 3px;
   width: 90px;
}

.colVenc {
   font: 13px Arial, sans-serif;
   text-align: center;
   background: #BCEE68;
   padding: 3px;
   width: 90px;
}

.colDia {
   text-align: center;
   font: 13px Arial, sans-serif;
   background: #A2CD5A;
   padding: 3px;
   width: 70px;
}

.colOp {
   font: 13px Arial, sans-serif;
   text-align: center;
   background: #BCEE68;
   padding: 3px;
   width: 110px;
}

.colParcela {
   text-align: center;
   font: 13px Arial, sans-serif;
   background: #A2CD5A;
   padding: 3px;
   width: 60px;
}

.colTipo {
   text-align: center;
   font: 13px Arial, sans-serif;
   background: #BCEE68;
   padding: 3px;
   width: 70px;
}

.colValor {
   text-align: right;
   font: 13px Arial, sans-serif;
   background: #BCEE68;
   padding: 3px;
   width: 90px;
}

.colExcluir {
   font: 13px Arial, sans-serif;
   text-align: center;
   background: #A2CD5A;
   padding: 3px;
   width: 80px;
}