<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://butterfaces.org/components"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<ui:composition template="/layout_bootstrap_fixo.xhtml">
  <ui:define name="title">Cadastrar Compra</ui:define>

  <ui:define name="content">
    <div class="my-3 p-3 bg-white rounded shadow-folha">
      <form jsf:id="cadastroCompraForm">
        <h:messages 
		  errorClass="alert alert-danger"
		  infoClass="alert alert-success"
		  pt:role="alert">
		</h:messages>
        <div class="row">
          <div class="col-sm-12 col-md-6">
          	<div class="form-group">
          	  <label class="form-label">Cartão de Crédito</label>
          	  <h:selectOneMenu 
          	  	id="cartaoCreditoInput"
          	  	pt:autofocus="autofocus"
          	  	styleClass="form-control"
          	  	value="#{compraController.compra.cartaoCredito.id}">
          	  	<f:selectItem itemLabel="Selecione..." noSelectionOption="true" />
          	  	<f:selectItems 
          	  	  var="cartao" 
          	  	  itemValue="#{cartao.id}" 
          	  	  value="#{compraController.cartoesCredito}" 
          	  	  itemLabel="#{cartao.descricao}">
          	  	</f:selectItems>
          	  	<f:validateRequired />
          	  </h:selectOneMenu>	
          	</div>
          </div>
          
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
            	<label class="form-label">Data da Compra</label>
            	<input
            	  jsf:id="dataCompraInput"
            	  jsf:value="#{compraController.compra.data}"
            	  type="text"
            	  class="form-control"
            	  maxlength="10"
            	  data-js="dataCompra"
            	  placeholder="dd/MM/yyyy">
            	  <f:validateRequired />
            	  <f:convertDateTime pattern="dd/MM/yyyy" />
            	</input>
            </div>
          </div>
        </div>
        
        
         <div class="row">
          <div class="col-sm-12 col-md-6">
          	<div class="form-group">
          		<label class="form-label">Descrição</label>
          		<input 
          		  type="text"
          		  maxlength="40"
          		  class="form-control"
          		  jsf:id="descricaoInput"
          		  jsf:value="#{compraController.compra.descricao}">
          		  <f:validateRequired />
          		  <f:validateLength maximum="40" />
          		</input>
          	</div>
          </div>
          
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="form-label">Valor</label>
              <input
                type="text"
                maxlength="8"
                data-js="valorCompra"
                class="form-control"
                jsf:id="valorInput"
                jsf:value="#{compraController.compra.valor}">
                <f:validateRequired />
                <f:convertNumber type="number" minFractionDigits="2" maxFractionDigits="2" groupingUsed="false" />
				<f:validateDoubleRange minimum="0" maximum="99999.99" />
              </input>
            </div>
          </div>
        </div>
        
         <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="form-label">Parcelas</label>
              <h:selectOneMenu 
          	    id="numParcelasInput"
          	  	styleClass="form-control"
          	  	value="#{compraController.compra.numParcelas}">
          	  	<f:selectItem itemLabel="Selecione..." noSelectionOption="true" />
          	  	<f:selectItem itemLabel="1X" itemValue="1" />
          	  	<f:selectItem itemLabel="2X" itemValue="2" />
          	  	<f:selectItem itemLabel="3X" itemValue="3" />
          	  	<f:selectItem itemLabel="4X" itemValue="4" />
          	  	<f:selectItem itemLabel="5X" itemValue="5" />
          	  	<f:selectItem itemLabel="6X" itemValue="6" />
          	  	<f:selectItem itemLabel="7X" itemValue="7" />
          	  	<f:selectItem itemLabel="8X" itemValue="8" />
          	  	<f:selectItem itemLabel="9X" itemValue="9" />
          	  	<f:selectItem itemLabel="10X" itemValue="10" />
          	  	<f:selectItem itemLabel="11X" noSelectionOption="11" />
          	  	<f:selectItem itemLabel="12X" noSelectionOption="12" />
          	  	<f:validateRequired />
          	  </h:selectOneMenu>	
            </div>
          </div>
          
          <div class="col-sm-12 col-md-6">
          	<div class="form-group">
          	  <label class="form-label">Tipo</label>
          	  <h:selectOneMenu
          	    id="tipoInput"
          	    styleClass="form-control"
          	    value="#{compraController.compra.tipo}">
				<f:selectItem itemLabel="Selecione..." noSelectionOption="true" />
				<f:selectItems
			      var="tipo"
				  value="#{compraController.tipos}"
			  	  itemLabel="#{tipo.label}"
			  	  itemValue="#{tipo}">
			  	 </f:selectItems>
			  	 <f:validateRequired />
				</h:selectOneMenu>
          	</div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12 col-md-2 pb-2 mr-n3">
		    <button class="btn btn-primary btn-block" jsf:action="#{compraController.gravar}">Gravar</button>
		  </div>
		  			
		  <div class="col-sm-12 col-md-2">
		    <button class="btn btn-danger btn-block" jsf:action="#{compraController.limpar}">Limpar</button>
		  </div>
        </div>
      </form>
    </div>
    <script>
		(function(win, doc) {
		  "use strict";
		  const masks = {
            dataCompra (value) {
              return value
                .replace(/\D/g, '').
                replace(/(\d{2})(\d)/, '$1/$2').
                replace(/(\d{2})(\d)/, '$1/$2')
            },
            valorCompra (value) {
			  return value.
			  replace(/\D/g, '').
			  replace(/(\d{3})(\d)/, '$1.$2').
			  replace(/(\d{3})(\d)/, '$1.$2')
            }
		  }

		  doc.querySelectorAll('input').forEach(($input) => {
		    const field = $input.dataset.js
		    if(field) {
	    	  $input.addEventListener('input', (e) => {
                e.target.value = masks[field](e.target.value)
              }, false)
			}
		  })
		})(window, document);
    </script>
</ui:define>
</ui:composition>
	
</html>