<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:b="http://butterfaces.org/components"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<ui:composition template="/layout_bootstrap_fixo.xhtml">
	<ui:define name="title">Cadastro de Cartão de Crédito</ui:define>
	<ui:define name="content">
		<div class="my-3 p-3 bg-white rounded shadow-folha">
			<form jsf:id="cadastroCartaoForm" autocomplete="off">
				<h:messages 
				  errorClass="alert alert-danger"
				  infoClass="alert alert-success"
				  pt:role="alert">
				</h:messages>
				<h:inputHidden value="#{cartaoBean.cartaoCredito.id}" />
				<div class="row">
					<div class="col-sm-12 col-md-6">
					  <div class="form-group">
    				  	<label for="bandeiraInput" class="form-label">Bandeira</label>
					  	<h:selectOneMenu 
						  	id="bandeiraInput"
						  	pt:autofocus="autofocus"
						  	styleClass="form-control"
						  	value="#{cartaoBean.cartaoCredito.bandeira}">
						  	<f:selectItem itemLabel="Selecione..." noSelectionOption="true" />
						  	<f:selectItems 
						  		value="#{cartaoBean.bandeiras}"
						  		var="bandeira"
						  		itemLabel="#{bandeira.label}"
						  		itemValue="#{bandeira}">
						  	</f:selectItems>
						  	<f:validateRequired />
						  </h:selectOneMenu>
					  </div>
					</div>
					
				<div class="col-sm-12 col-md-6">
				  <div class="form-group">
					  <label for="descricaoInput" class="form-label">Descrição</label>
					  <input
					  	type="text"
					  	jsf:id="descricaoInput"
					  	maxlength="30"
					  	class="form-control"
					  	jsf:value="#{cartaoBean.cartaoCredito.descricao}">
					  	<f:validateLength maximum="30" />
					  	<f:validateRequired />
					  </input>
					</div>
				  </div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 col-md-6">
					  <div class="form-group">
						  <label for="numeroInput" class="form-label">Número</label>
						  <input
						  	type="text"
						  	data-js="numero"
						  	class="form-control"
						  	jsf:id="numeroInput"
						  	maxlength="16"
						  	jsf:readonly="#{cartaoBean.modoAtualizacao}"
						  	jsf:value="#{cartaoBean.cartaoCredito.numero}">
						  	<f:validator validatorId="validator.NumeroCartaoCredito" />
						  	<f:validateRequired />
						  </input>
					  </div>
					</div>		
					<div class="col-sm-12 col-md-6">
					<div class="form-group">
					  <label for="limiteInput" class="form-label">Limite</label>
					  <input
					  	type="text"
					  	data-js="limite"
					  	jsf:id="limiteInput"
					  	maxlength="8"
					  	class="form-control"
					  	jsf:value="#{cartaoBean.cartaoCredito.limite}">
					  	<f:convertNumber type="number" groupingUsed="false" minFractionDigits="2" maxFractionDigits="2" />
						<f:validateDoubleRange minimum="0" maximum="99999.99" />
						<f:validateRequired />
					  </input>
					</div>
					</div>		
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="form-group">
							<label for="dataVencimentoInput" class="form-label">Data Vencimento</label>
						    <input
					  	  		type="text"
						      	data-js="dataVencimento"
						      	jsf:id="dataVencimentoInput"
						      	placeholder="dd/yyyy"
						  	  	class="form-control"
						  	  	maxlength="7"
						  	  	jsf:value="#{cartaoBean.cartaoCredito.dataVencimento}">
						  		<f:convertDateTime pattern="MM/yyyy" />
						  		<f:validateRequired />
						  	</input>
						</div>
					</div>
					
					<div class="col-sm-12 col-md-6">
						<div class="form-group">
							<label for="diaVencimentoInput" class="form-label">Dia Vencimento da Fatura</label>
						    <input
						  	  type="text"
						  	  data-js="diaVencimento"
						      jsf:id="diaVencimentoInput"
						  	  class="form-control"
						  	  maxlength="2"
						  	  jsf:value="#{cartaoBean.cartaoCredito.diaVencimentoFatura}">
						  	  <f:validateLongRange minimum="1" maximum="31" />
						  	  <f:validateRequired />
						  	</input>
						</div>
					</div>
				</div>
				<div class="row">
		  			<div class="col-sm-12 col-md-2 pb-2 mr-n3">
		  				<button class="btn btn-primary btn-block" jsf:action="#{cartaoBean.gravar}">Gravar</button>
		  			</div>
		  			
		  			<div class="col-sm-12 col-md-2">
						<button class="btn btn-danger btn-block" jsf:action="#{cartaoBean.limpar}">Limpar</button>
		  			</div>
				</div>
			</form>
		</div>
		
		<h:panelGroup layout="block" styleClass="mt-5" rendered="#{cartaoBean.renderizaTabelaCartoes}">
			<div class="my-3 p-3 bg-white rounded shadow-folha mt-5 mb-5">
				<div class="table-responsive-sm">
					<form jsf:if="form">
						<h:dataTable 
							value="#{cartaoBean.cartoesCredito}"
							var="c" 
							rendered="#{cartaoBean.cartoesCredito.size() > 0}" 
							styleClass="table table-striped table-hover">
						<h:column>
							<f:facet name="header">
								Bandeira
							</f:facet>
							#{c.bandeira}
						</h:column>
						
						<h:column>
							<f:facet name="header">
								Descrição
							</f:facet>
							#{c.descricao}
						</h:column>
						
						<h:column>
							<f:facet name="header">
								Número
							</f:facet>
							<h:outputText value="#{c.numero}">
								<f:converter converterId="converter.NumeroCartaoCredito" />
							</h:outputText>
						</h:column>
						
						<h:column>
							<f:facet name="header">
								Limite
							</f:facet>
							<h:outputText value="#{c.limite}">
								<f:convertNumber type="currency" />
							</h:outputText>
						</h:column>
						
						<h:column>
							<f:facet name="header">
								Vencimento
							</f:facet>
							<h:outputText value="#{c.dataVencimento}">
								<f:convertDateTime pattern="MM/yyyy" />
							</h:outputText>
						</h:column>
						
							<h:column>
								<f:facet name="header">
									Dia Venc. Fatura
								</f:facet>
								<center>#{c.diaVencimentoFatura}</center>
							</h:column>
						
							<h:column>
								<f:facet name="header">
									<center>#</center>
								</f:facet>
								<div class="dropdown">
							        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							            Ações
							        </button>
							        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							            <h:commandLink styleClass="dropdown-item" action="#{cartaoBean.carregarCartao(c.id)}">Alterar</h:commandLink>
							            <h:commandLink styleClass="dropdown-item" action="#{cartaoBean.excluir(c.id)}" onclick="return excluir();">Excluir</h:commandLink>
							        </div>
							    </div>
							</h:column>
						</h:dataTable>
					</form>
				</div>
			</div>
		</h:panelGroup>
		<script>
			function excluir() {
				return confirm('Deseja excluír esse recurso ?')
			}
			
			(function(win, doc){
				"use strict";
				const masks = {
		            limite (value) {
		                return value
		                .replace(/\D/g, '')
		            },
		            numero (value) {
		            	return value
		            	.replace(/\D/g, '')
		            },
		            diaVencimento (value) {
		            	return value
		            	.replace(/\D/g, '')
		            },
		            dataVencimento (value) {
		            	return value.
		            	replace(/\D/g, '').
		            	replace(/(\d{2})(\d)/, '$1/$2')
		            }
		        }
				
				doc.querySelectorAll('input').forEach(($input) => {
		            const field = $input.dataset.js
					if(field) {
			            $input.addEventListener('input', (e) => {
			                e.target.value = masks[field](e.target.value)
			            }, false)
					}
		        })
		        
			})(window, document);
		</script>
	</ui:define>
</ui:composition>
	
</html>