<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html 
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:composition template="/layout_bootstrap_fixo.xhtml">
		<ui:define name="title">
			Bem-vindo!
		</ui:define>
		<ui:define name="content">
			<br /><br /><br /><br /><br /><br /><br />
		</ui:define>
	</ui:composition>
	
</html>