<!DOCTYPE html>
<html lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<!-- Define o locale pt_BR como padrão para todas as páginas -->
<f:view locale="pt_BR">

	<h:head>
		<meta name="charset" content="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Gerenciamento de Cartões de Crédito</title>
		<!-- <h:outputStylesheet library="css" name="bootstrap.min.css" /> -->
		<h:outputStylesheet library="css" name="custom.css" />
	</h:head>

	<h:body>
		<div class="container">
			<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
				<a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
					<span class="fs-3">SobControle</span>
				</a>
               <ul class="nav nav-pills">
	               <li class="nav-item">
	                 <h:link class="nav-link" outcome="index">Página Inicial</h:link>
	               </li>
                   <li class="nav-item">
                     <h:link class="nav-link" outcome="cadastrar_cartao_bootstrap">Cadastrar Cartão</h:link>
                   </li>
                   <li class="nav-item">
                     <h:link class="nav-link" outcome="cadastrar_compra">Cadastrar Compra</h:link>
                   </li>
                   <li class="nav-item">
                   	<h:link class="nav-link" outcome="listar_compras" value="Listar Compras">
						<f:param name="limpar" value="true" />
					</h:link>
                   </li>
                   <li class="nav-item">
                    <h:link class="nav-link" outcome="fechar_fatura" value="Fechar Fatura">
						<f:param name="limpar" value="true" />
					</h:link>
                  </li>
                  <li class="nav-item">
               		<h:link class="nav-link disabled" outcome="consultar_fatura" value="Consultar Fatura">
						<f:param name="limpar" value="true" />
					</h:link>
                 </li>
           	</ul>
		</header>
	</div>
			
		<div class="container">			
			<main class="conteudo">
				<header class="conteudo__header">
					<ui:insert name="title" />
				</header>
				<ui:insert name="content" />
			</main>
		
			<h:panelGroup rendered="#{requestScope.msg != null}">
				<script>
					alert("#{requestScope.msg}");
				</script>
			</h:panelGroup>
		</div>
	</h:body>
</f:view>

</html>
