<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html 
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
	class="h-100">
<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Gerenciamento de Cartões de Crédito</title>
	
	<h:outputScript target="head" library="js" name="jquery.js" />
	<h:outputScript target="head" library="js" name="toastr.min.js" />
	<h:outputScript target="head" library="js" name="bootstrap.bundle.min.js" />
	<h:outputScript target="head" library="js" name="script.js" />
	
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="toastr.min.css" />
	<h:outputStylesheet library="css" name="layout-fixo.css" />
	<h:outputStylesheet library="css" name="custom.css" />
</h:head>
<h:body class="d-flex flex-column h-100">
	<h:panelGroup layout="block" rendered="#{flash.msg != null}">
		<script>
			window.addEventListener('load', () => {
				gerenciadorMensagem.exibirMensagem('#{flash.msg}')
			}, false)
		</script>
	</h:panelGroup>
	<header>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<h:link class="navbar-brand" outcome="index">Cartões de Crédito<span class="sr-only">(current)</span></h:link>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<h:link class="nav-link" outcome="cadastrar_cartao">Cadastrar Cartão</h:link>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compras</a>
						<div class="dropdown-menu" aria-labelledby="dropdown04">
							<h:link class="dropdown-item" outcome="cadastrar_compra">Cadastrar Compra</h:link>
							<h:link class="dropdown-item" outcome="listar_compras" value="Listar Compras">
								<f:param name="limpar" value="true" />
							</h:link>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Faturas</a>
						<div class="dropdown-menu" aria-labelledby="dropdown04">
							<h:link class="dropdown-item" outcome="fechar_fatura" value="Fechar Fatura">
								<f:param name="limpar" value="true" />
							</h:link>
							<h:link class="dropdown-item" outcome="consultar_fatura" value="Consultar Fatura">
								<f:param name="limpar" value="true" />
							</h:link>
						</div>
					</li>
				</ul>
				<form class="form-inline mt-2 mt-md-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" />
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
				</form>
			</div>
		</nav>
		<!-- Fixed navbar -->
	</header>

	<!-- Content -->
	<main role="main" class="flex-shrink-0">
		<div class="container">
			<h4 style="text-align: center">
				<ui:insert name="title" />
			</h4>
			<ui:insert name="content" />
		</div>
	</main>
	<!-- Content -->
	
	<footer class="footer mt-auto py-3">
		<div class="container">
			<span class="text-muted">Gerenciamento de Cartões de Crédito - 2021</span>
		</div>
	</footer>
</h:body>
</html>